target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store

### Shade plugin ###
dependency-reduced-pom.xml

###
target/runs/current_run.json
runs/
current_run.json
ftl-stats-tracker.cfg